<template>
  <div>
    <md-content>
      <div class="md-layout">
        <md-field>
          <label>Account Id</label>
          <md-input v-model="accountId"></md-input>
        </md-field>
        <md-field>
          <label>Access Token</label>
          <md-input v-model="accessToken"></md-input>
        </md-field>
        <md-field>
          <label>Email</label>
          <md-input v-model="email"></md-input>
        </md-field>
        <md-field>
          <label>User Id</label>
          <md-input v-model="userId"></md-input>
        </md-field>
      </div>
    </md-content>
  </div>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    accountId: '',
    accessToken: '',
    email: '',
    userId: '',
  }),
  save: () => {
    chrome.storage.sync.set({accountId: this.accountId.value}, function () {
      console.log("Saved.");
    });
    chrome.storage.sync.set({accessToken: this.accessToken.value}, function () {
      console.log("Saved.");
    });
    chrome.storage.sync.set({email: this.email.value}, function () {
      console.log("Saved.");
    });
    chrome.storage.sync.set({userId: this.userId.value}, function () {
      console.log("Saved.");
    });
  }
};
</script>

<style lang="scss" scoped>
  .md-content {
    padding: 20px;
  }
p {
  font-size: 20px;
}
</style>
