<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>time-input-helper - Options</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">

    <link rel="stylesheet" href="options.css">
  <% if (NODE_ENV === 'development') { %>
  <!-- Load some resources only in development environment -->
  <% } %>
</head>
<body>
  <div id="app">

    <div id="buttonDiv">
<!--      <input type="text" name="accountId" id="accountId" placeholder="Account Id">-->
<!--      <input type="text" name="accessToken" id="accessToken" placeholder="Access Token">-->
      <input type="text" name="email" id="email" placeholder="Email">
      <input type="text" name="userId" id="userId" placeholder="User Id">
    </div>
    <button id="submit">Save</button>
  </div>
  <script src="options.js"></script>
</body>
</html>
