<template>
    <div>
        <md-app class="main" md-waterfall md-mode="fixed">
            <md-app-toolbar>
                <span class="md-title">Time Input Helper</span>
            </md-app-toolbar>
            <md-app-content>
                <md-tabs>
                    <md-tab md-label="Tasks">
                        <Tasks :projects="projects"></Tasks>
                    </md-tab>
<!--                    <md-tab md-label="Github">-->
<!--                    </md-tab>-->
                    <md-tab md-label="Gitlab">
                        <Gitlab :projects="projects"></Gitlab>
                    </md-tab>

                    <md-tab md-label="Config">
                        <Settings></Settings>
                    </md-tab>
                </md-tabs>
            </md-app-content>
        </md-app>
    </div>
</template>

<script>
  import Settings from "./Settings";
  import Tasks from "./Tasks";
  import Gitlab from "./Gitlab";
  import {HarvestWrapper} from "./HarvestWrapper";

  export default {
    components: {Gitlab, Tasks, Settings},
    data() {
      return {
        harvest: new HarvestWrapper(),
        projects: [],
        projectsMap: new Map(),
        tasksMap: new Map(),
        tasks: [],
      };
    },
    mounted() {
      this.harvest.getProjectAssignments().then(data => {
        this.projects = data.project_assignments;
      }).catch(exception => {
        console.log(exception);
        console.log('Config values not ready')
      })
    }
  };
</script>

<style lang="scss" scoped>
    .main {
        width: 450px;
    }

    #current-date {
        margin-top: 0;
    }

    .helper-text {
        font-size: larger;
        font-style: italic;
    }

    .week, .repo {
        margin-top: 20px;
    }
</style>
