<template>
    <div>
        <span class="md-list-item-text">Harvest</span>
        <div slot="md-expand" class="collapsible-body">
            <div id="github-help" hidden class="helper-text">
                To get the Github Access Token, follow these steps:
                <ol>
                    <li>Go to <a href="https://github.com/settings/tokens" target="_blank">https://github.com/settings/tokens</a></li>
                    <li>At the top right corner, click on "Generate new token" button</li>
                    <li>Type a name for the token and under the Scope options select all the options within the "repo" group</li>
                    <li>Copy and paste the generated token</li>
                </ol>
            </div>
            <md-field>
                <label>Account Id</label>
                <md-input v-model="accountId"></md-input>
            </md-field>
            <md-field>
                <label>Access Token</label>
                <md-input v-model="accessToken"></md-input>
            </md-field>
            <md-field>
                <label>Email</label>
                <md-input v-model="email"></md-input>
            </md-field>
            <md-field>
                <label>User Id</label>
                <md-input v-model="userId"></md-input>
                <button class="waves-effect waves-light btn" id="getUserId">Get</button>
            </md-field>
            <div>
                <md-radio v-model="company" value="rain">Rain</md-radio>
                <md-radio v-model="company" value="deepend">Deepend</md-radio>
                <md-radio v-model="company" value="other">Other</md-radio>
            </div>
            <md-button class="md-raised md-primary" @click="save">Save</md-button>
        </div>
    </div>
</template>

<script>
  export default {
    name: "HarvestSettings",
    data: () => ({
      accountId: '',
      accessToken: '',
      email: '',
      userId: '',
      company: '',
    }),
    save: () => {
      chrome.storage.sync.set({githubAuthor: githubAuthor.value}, function() {
        console.log("Saved.");
      });
      chrome.storage.sync.set({githubAccessToken: githubAccessToken.value}, function() {
        console.log("Saved.");
      });
    }
  }
</script>

<style scoped>

</style>