<template>
    <div id="github" class="col s12">
        <div class="row repo">
            <div class="input-field"><input type="text" name="repo" id="repo"
                                            placeholder="Repository"><label
                    for="repo">Repository</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">event_available</i>
                <input type="text" id="harvestProjectId" class="autocomplete">
                <label for="harvestProjectId">Harvest Projects</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">insert_invitation</i>
                <input type="text" id="harvestTaskId" class="autocomplete">
                <label for="harvestTaskId">Harvest Tasks</label>
            </div>
        </div>

        <div class="row">
            <div class="col s2 waves-effect"><a href="#!" id="prevWeek"><i class="material-icons">chevron_left</i></a>
            </div>
            <div class="col s8"><h5 class="center-align" id="current-date">Current date</h5></div>
            <div class="col s2 waves-effect"><a href="#!" id="nextWeek"><i class="material-icons">chevron_right</i></a>
            </div>
        </div>
        <div class="days row">
            <label class="col s2 offset-s1"><input type="checkbox" name="dayM" id="day0" checked
                                                   value="1">
                <span>M</span></label>
            <label class="col s2"><input type="checkbox" name="dayT" id="day1" checked value="2">
                <span>T</span></label>
            <label class="col s2"><input type="checkbox" name="dayW" id="day2" checked value="3">
                <span>W</span></label>
            <label class="col s2"><input type="checkbox" name="dayTh" id="day3" checked value="4">
                <span>T</span></label>
            <label class="col s2"><input type="checkbox" name="dayF" id="day4" checked value="5">
                <span>F</span></label>
        </div>

        <button class="waves-effect waves-light btn" id="githubRetrieve">Retrieve</button>
        <div class="row" id="githubResults"></div>
        <div>
            <button class="waves-effect waves-light btn" id="githubSave" disabled>Save</button>
            &nbsp;<label><input type="checkbox" name="reloadPage" id="reloadPage" checked disabled>
            <span>Reload page</span></label>
        </div>
        <p class="flow-text" id="githubHarvestResult"></p>
    </div>
</template>

<script>
  export default {
    name: "Github"
  }
</script>

<style scoped>

</style>