<template>
    <div>
        <md-field>
            <label>Access Token</label>
            <md-input v-model="accessToken"></md-input>
        </md-field>
    </div>
</template>

<script>
  export default {
    name: "GitlabSettings",
    data: () => ({
      accessToken: ''
    }),
    watch: {
      accessToken() {
        chrome.storage.sync.set({gitlabAccessToken: this.accessToken}, () => {
          console.log("Saved.");
        });
      }
    },
    mounted() {
      chrome.storage.sync.get(['accountId', 'gitlabAccessToken'], data => {
        this.accountId = data.accountId;
        this.accessToken = data.gitlabAccessToken;
      })
    }
  }
</script>

<style scoped>

</style>