<template>
    <div id="github" class="col s12">
        <div class="row repo">
            <md-field>
                <label>Email</label>
                <md-input v-model="email"></md-input>
            </md-field>
            <md-autocomplete v-model="repository" :md-options="repositories" @md-changed="getRepositories"
                @md-selected="selectRepository">
                <md-icon>call_split</md-icon>
                <label>Repository</label>
                <template slot="md-autocomplete-item" slot-scope="{ item }">{{ item.web_url }}</template>
            </md-autocomplete>
        </div>

        <div class="md-layout md-alignment-center-center">
            <div class="md-layout-item">
                <md-button @click="prevDay"><md-icon>chevron_left</md-icon></md-button>
            </div>
            <div class="md-layout-item md-size-40">
                <h4 style="text-align: center" id="current-date">{{this.selectedDate.toISOString().split('T')[0]}}</h4>
            </div>
            <div class="md-layout-item">
                <md-button @click="nextDay"><md-icon>chevron_right</md-icon></md-button>
            </div>
        </div>
        <md-autocomplete v-model="selectedProject" :md-options="projects" md-dense @md-selected="updateTasks">
            <md-icon>event</md-icon>
            <label>Projects</label>
            <template slot="md-autocomplete-item" slot-scope="{ item }">
                {{ item.client.name }} - {{ item.project.name }}
            </template>
        </md-autocomplete>
        <md-autocomplete v-model="selectedTask" :md-options="tasks" md-dense @md-selected="setSelectedTaskId">
            <md-icon>insert_invitation</md-icon>
            <label>Tasks</label>
            <template slot="md-autocomplete-item" slot-scope="{ item }">{{ item.task.name }}</template>
        </md-autocomplete>
        <md-field>
            <md-icon>timer</md-icon>
            <label>Time</label>
            <md-input v-model="time"></md-input>
        </md-field>
        <md-field>
            <label>Commits</label>
            <md-textarea v-model="gitlabNotes"></md-textarea>
        </md-field>
        <div>
            <md-button class="md-raised md-primary" @click="save">Save</md-button>
        </div>
        <md-snackbar md-position="center" :md-duration="mdDuration" :md-active.sync="showSnackbar" md-persistent>
            <span>{{gitlabHarvestResult}}</span>
        </md-snackbar>
    </div>
</template>

<script>
  import _ from 'lodash';
  import { HarvestWrapper } from "./HarvestWrapper";
  import { GitlabAPI } from "./GitlabAPI";

  export default {
    name: "Gitlab",
    data: () => ({
      email: '',
      repository: '',
      repositoryId: null,
      repositories: [],
      gitlabNotes: '',
      gitlabResults: '',
      selectedDate: new Date(),
      gitlab: new GitlabAPI(),
      harvest: new HarvestWrapper(),
      selectedProjectItem: null,
      selectedProject: '',
      tasks: [],
      selectedTask: '',
      selectedTaskItem: '',
      time: '8.00',
      gitlabHarvestResult: '',
      mdDuration: 3000,
      showSnackbar: false
    }),
    props: {
      projects: {
        required: true,
        type: Array
      },
    },
    methods: {
      updateTasks(item) {
        this.selectedProject = item.project.name;
        this.selectedProjectItem = item;
        this.tasks = item.task_assignments;
      },
      setSelectedTaskId(item) {
        this.selectedTask = item.task.name;
        this.selectedTaskItem = item;
      },
      async prevDay() {
        let prevDay = new Date(this.selectedDate);
        prevDay.setDate(this.selectedDate.getDate() - 1);
        this.selectedDate = prevDay;
        this.$forceUpdate();
        this.getCommits();
      },
      async nextDay() {
        let prevDay = new Date(this.selectedDate);
        prevDay.setDate(this.selectedDate.getDate() + 1);
        this.selectedDate = prevDay;
        this.$forceUpdate();
        this.getCommits();
      },
      getRepositories: _.debounce(async function (searchTerm) {
        if (!searchTerm) {
          this.repositories = [];
        }
        this.repositories = await this.gitlab.projects(searchTerm);
      }, 200),
      selectRepository(val) {
        this.repository = val.web_url;
        this.repositoryId = val.id;
        this.getCommits();
      },
      async getCommits () {
        if (!this.repositoryId) {
          return;
        }
        const today = new Date(this.selectedDate);
        const laterToday = new Date(this.selectedDate);
        today.setHours(0,0,0,0);
        laterToday.setHours(23,59,59,0);
        console.log(today.toISOString());
        const commits = await this.gitlab.commits(this.repositoryId, today.toISOString(), laterToday.toISOString(), this.email);
        this.gitlabNotes = commits ? commits.map(item => item.message).join("\n") : '';
      },
      save() {
        this.harvest.isReady().then(ready => {
          if (!ready) {
            this.tasksResult = 'Config values not ready.';
            return;
          }
          let initPayload = {
            project_id: this.selectedProjectItem.project.id,
            task_id: this.selectedTaskItem.task.id,
            hours: this.time,
            notes: this.gitlabNotes
          }

          const today = new Date(this.selectedDate);
            let payload = {...initPayload};
            payload.spent_date = today.toISOString().split('T')[0];
            return this.harvest.post(payload)
                .then(resp => {
                  console.log(resp);
                  this.gitlabHarvestResult = 'Entries saved into Harvest. Well done!';
                  this.showSnackbar = true;
                })
                .catch((err) => {
                  console.log(err)
                  this.gitlabHarvestResult = 'Unexpected error';
                  this.showSnackbar = true;
                })
        })
      }
    }
  }
</script>

<style scoped>

</style>