<template>
    <div class="collapsible-body">
        <div id="harvest-help" hidden class="helper-text">
            Follow these steps:
            <ol>
                <li>Log in to your harvest account</li>
                <li>Go to <a href="https://id.getharvest.com/developers" target="_blank">https://id.getharvest.com/developers</a>
                </li>
                <li>Go to Personal Access Tokens section and Create a new Personal Access Token</li>
                <li>Type a name for your token, and after the token is created copy and paste the "Your token" and
                    "Account Id" values from Harvest to this form
                </li>
            </ol>
        </div>
        <md-field>
            <label>Account Id</label>
            <md-input v-model="accountId"></md-input>
        </md-field>
        <md-field>
            <label>Access Token</label>
            <md-input v-model="accessToken"></md-input>
        </md-field>
        <md-field>
            <label>Email</label>
            <md-input v-model="email"></md-input>
        </md-field>
        <md-field>
            <label>User Id</label>
            <md-input v-model="userId"></md-input>
            <button class="waves-effect waves-light btn" id="getUserId">Get</button>
        </md-field>
        <div>
            <md-radio v-model="company" value="rain">Rain</md-radio>
            <md-radio v-model="company" value="deepend">Deepend</md-radio>
            <md-radio v-model="company" value="nicasource">Nicasource</md-radio>
            <md-radio v-model="company" value="other">Other</md-radio>
        </div>
        <md-button class="md-raised md-primary" @click="save">Save</md-button>
    </div>
</template>

<script>
  export default {
    name: "HarvestSettings",
    data: () => ({
      accountId: '',
      accessToken: '',
      email: '',
      userId: '',
      company: '',
    }),
    methods: {
      save() {
        const {accountId, accessToken, email, userId, company} = this;
        chrome.storage.sync.set({accountId, accessToken, email, userId, company}, () => {
          console.log("Saved.");
        });
      }
    },
    mounted() {
      chrome.storage.sync.get(['accountId', 'accessToken', 'email', 'userId', 'company'], data => {
        this.accountId = data.accountId;
        this.accessToken = data.accessToken;
        this.email = data.email;
        this.userId = data.userId;
        this.company = data.company;

        /*if (!!data.userId) {
          userId.setAttribute('value', data.userId);
        } else {
          //let's try to automatically recover the User Id

          chrome.tabs.executeScript({
            code: '(' + getUserId + ')();' //argument here is a string but function.toString() returns function's code
          }, (result) => {
            const regex = /(?<=\/)\d.*(?=\/)/gm;
            const str = result[0];
            let matches;

            while ((matches = regex.exec(str)) !== null) {
              // This is necessary to avoid infinite loops with zero-width matches
              if (matches.index === regex.lastIndex) {
                regex.lastIndex++;
              }

              // The result can be accessed through the `m`-variable.
              matches.forEach((match, groupIndex) => {
                console.log(`Found match, group ${groupIndex}: ${match}`);
                userId.setAttribute('value', match);
              });
            }

            chrome.storage.sync.set({userId: userId.value}, function() {
              window.location = window.location;
            });

          });
        }*/
      });
    }
  }
</script>

<style lang="scss" scoped>
    .md-radio {
        display: flex;
    }
</style>