<template>
    <div id="config" class="col s12">
        <div class="section">
            <md-list class="collapsible expandable" md-expand-single="true">
                <md-list-item md-expand class="active" :md-expanded="true">
                    <span class="md-list-item-text">Harvest</span>
                    <HarvestSettings slot="md-expand"></HarvestSettings>
                </md-list-item>
                <md-list-item md-expand class="active">
                    <span class="md-list-item-text">Gitlab</span>
                    <GitlabSettings slot="md-expand"></GitlabSettings>
                </md-list-item>
                <md-list-item md-expand>
                    <div class="md-list-item-text">Github</div>
                    <div slot="md-expand" class="collapsible-body">
                        <div id="github-help" hidden class="helper-text">
                            To get the Github Access Token, follow these steps:
                            <ol>
                                <li>Go to <a href="https://github.com/settings/tokens" target="_blank">https://github.com/settings/tokens</a>
                                </li>
                                <li>At the top right corner, click on "Generate new token" button</li>
                                <li>Type a name for the token and under the Scope options select all the options within the "repo"
                                    group
                                </li>
                                <li>Copy and paste the generated token</li>
                            </ol>
                        </div>
                        <div class="input-field"><input type="text" name="accountId" id="githubAuthor"
                                                        placeholder="Author"><label
                                for="githubAuthor">Author</label></div>
                        <div class="input-field"><input type="text" name="accessToken" id="githubAccessToken"
                                                        placeholder="Github Access Token"><label
                                for="githubAccessToken">Github Access Token</label></div>
                        <button class="waves-effect waves-light btn" id="configGithubSave">Save</button>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </div>
</template>

<script>
  import HarvestSettings from "./HarvestSettings";
  import GitlabSettings from "./GitlabSettings";
  export default {
    name: "Settings",
    components: {GitlabSettings, HarvestSettings},
  }
</script>

<style scoped>

</style>