<template>
    <div id="lunch" class="col s12">
        <div class="row week">
            <md-radio v-model="week" value="lastWeek">Last Week</md-radio>
            <md-radio v-model="week" value="thisWeek">This Week</md-radio>
        </div>
        <div class="days row">
            <md-checkbox v-model="selectedDay" value="0">M</md-checkbox>
            <md-checkbox v-model="selectedDay" value="1">T</md-checkbox>
            <md-checkbox v-model="selectedDay" value="2">W</md-checkbox>
            <md-checkbox v-model="selectedDay" value="3">Th</md-checkbox>
            <md-checkbox v-model="selectedDay" value="4">F</md-checkbox>
        </div>
        <div class="row">
            <md-radio v-model="task" value="lunch">Lunch</md-radio>
            <md-radio v-model="task" value="pto">PTO</md-radio>
            <md-radio v-model="task" value="custom">Custom</md-radio>
        </div>
        <md-autocomplete v-if="task === 'custom'" v-model="selectedProject" :md-options="projects" md-dense @md-selected="updateTasks">
            <md-icon>event</md-icon>
            <label>Projects</label>
            <template slot="md-autocomplete-item" slot-scope="{ item }">
                {{ item.client.name }} - {{ item.project.name }}
            </template>
        </md-autocomplete>
        <md-autocomplete v-if="task === 'custom'" v-model="selectedTask" :md-options="tasks" md-dense @md-selected="setSelectedTaskId">
            <md-icon>insert_invitation</md-icon>
            <label>Tasks</label>
            <template slot="md-autocomplete-item" slot-scope="{ item }">{{ item.task.name }}</template>
        </md-autocomplete>
        <md-field>
            <md-icon>timer</md-icon>
            <label>Time</label>
            <md-input v-model="time"></md-input>
        </md-field>
        <md-field>
            <md-icon>event_note</md-icon>
            <label>Notes</label>
            <md-input v-model="notes"></md-input>
        </md-field>
        <div>
            <md-button class="md-raised md-primary" @click="save">Save</md-button>
        </div>
        <md-snackbar md-position="center" :md-duration="mdDuration" :md-active.sync="showSnackbar" md-persistent>
            <span>{{tasksResult}}</span>
            <md-button class="md-primary" @click="showSnackbar = false">Close</md-button>
        </md-snackbar>
    </div>
</template>

<script>
  import {HarvestWrapper} from './HarvestWrapper';
  import {nextDay, getMonday} from "./helpers";

  export default {
    name: "Tasks",
    data: () => ({
      harvest: new HarvestWrapper(),
      showSnackbar: false,
      mdDuration: 3000,
      week: 'thisWeek',
      selectedDay: ['0', '1', '2', '3', '4'],
      selectedProjectItem: null,
      selectedProject: '',
      tasks: [],
      selectedTask: '',
      selectedTaskItem: '',
      time: '',
      notes: '',
      task: 'lunch',
      tasksResult: ''
    }),
    props: {
      projects: {
        required: true,
        type: Array
      },
    },
    methods: {
      updateTasks(item) {
        this.selectedProject = item.project.name;
        this.selectedProjectItem = item;
        this.tasks = item.task_assignments;
      },
      setSelectedTaskId(item) {
        this.selectedTask = item.task.name;
        this.selectedTaskItem = item;
      },
      save() {
        this.harvest.isReady().then(ready => {
          if (!ready) {
            this.tasksResult = 'Config values not ready.';
            return;
          }
          let initPayload = null;
          switch (this.task) {
            case 'lunch':
              initPayload = this.harvest.getLunchPayload();
              break;
            case 'pto':
              initPayload = this.harvest.getPtoPayload();
              initPayload.notes = this.notes.value;
              break;
            case 'custom':
              initPayload = {
                project_id: this.selectedProjectItem.project.id,
                task_id: this.selectedTaskItem.task.id,
                hours: this.time,
                notes: this.notes
              };
              break;
          }
          const thisMonday = getMonday();
          let selectedStart = thisMonday;
          if (this.week === 'lastWeek') {
            selectedStart = nextDay(thisMonday, -7);
          }
          Promise.all(this.selectedDay.map(item => {
              let day = nextDay(selectedStart, +item);
              let payload = {...initPayload};
              payload.spent_date = day.toISOString().split('T')[0];
              return this.harvest.post(payload)
          }))
            .then(resp => {
              console.log(resp);
              this.tasksResult = 'Entries saved into Harvest. Well done!';
              this.showSnackbar = true;
            })
            .catch((err) => {
              console.log(err)
              this.tasksResult = 'Unexpected error';
              this.showSnackbar = true;
            })
        })
      }
    },
  }
</script>

<style scoped>

</style>
